/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-style: normal;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navigation__link {
  color: #002F3E;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-style: normal;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navigation__link {
  color: #002F3E;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
}

.header__menu-mobile {
  display: none;
}

.header__item-modile {
  display: none;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #F2FAF8;
  box-shadow: 0px 0px 24px 0px rgba(0, 97, 87, 0.2);
}

.header__container {
  max-width: 1227px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.header__item {
  padding: 0 12px;
}

.header__img {
  width: 54px;
}

.header__menu {
  margin: 0 12px;
}

.header__list {
  display: flex;
  flex-direction: row;
}

.header__line-list {
  margin-left: 40px;
}

.header__link {
  color: #002F3E;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.34px;
  text-transform: capitalize;
}

@media (max-width: 700px) {
  .header__item {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .header__menu-mobile {
    display: flex;
    align-items: center;
    margin-left: 24px;
  }
  .header__item-modile {
    display: flex;
    align-items: center;
    margin-right: 16px;
  }
  .header__img {
    width: 54px;
    height: 54px;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-style: normal;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navigation__link {
  color: #002F3E;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
}

.banner__container-mobile {
  display: none;
}

.banner__content-mobile {
  display: none;
}

.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 16px;
}

.banner__container {
  width: 1227px;
  height: 482px;
  margin-left: 20px;
  margin-right: 20px;
  background-image: url(../img/banner.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.banner__content {
  margin-top: 125px;
  margin-left: 83px;
}

.banner__title {
  color: #002F3E;
  font-weight: 700;
  font-size: 54px;
  margin: 0 0 45px 0;
}

.banner__descr {
  color: #002F3E;
  margin: 0 0 72px 0;
  font-size: 24px;
}

a {
  text-decoration: none;
}

.banner__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  text-align: center;
  cursor: pointer;
  border-radius: 32px;
  color: #FFF;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.352px;
  width: 308px;
  height: 64px;
  box-shadow: 0px 6px 15px 0px rgba(2, 128, 108, 0.3);
  background: var(--linear-botton, linear-gradient(90deg, #006A63 0%, #00D2A4 100%));
  box-sizing: border-box;
  transition: all 500ms ease;
}
.banner__button:hover {
  transform: scale(1.1);
}

@media (max-width: 1265px) {
  .banner__title {
    font-size: 4.2vw;
    margin: 0 0 4% 0;
  }
  .banner__descr {
    font-size: 1.9vw;
    margin: 0 0 6% 0;
  }
  .banner__button {
    width: 27%;
    height: 5vw;
    font-size: 1.9vw;
  }
  .banner__content {
    margin-top: 10%;
    margin-left: 7%;
    margin-bottom: 9%;
  }
  .banner__container {
    height: 100%;
  }
}
@media (max-width: 700px) {
  .banner__container {
    display: none;
  }
  .banner__container-mobile {
    display: block;
    width: 100%;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  .banner__img-mobile {
    width: 100%;
    height: 100%;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-style: normal;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navigation__link {
  color: #002F3E;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
}

.navigation {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 44px;
}

.navigation__container {
  max-width: 1227px;
  width: 100%;
  position: relative;
}

.navigation__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.navigation__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 20px 10px;
  transition: transform 0.2s;
  text-align: center;
  letter-spacing: 1px;
}
.navigation__link:hover {
  color: #006A63;
  transform: scale(1.05);
}

.navigation__img {
  margin-bottom: 10px;
}

@media (max-width: 700px) {
  .navigation__link {
    max-width: 50%;
    width: 100%;
    margin: 0 0 40px;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-style: normal;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navigation__link {
  color: #002F3E;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
}

.content__title-mobile {
  display: none;
}

.content {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  background: #F2FAF8;
}

.content__wrapper {
  max-width: 1227px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 16px;
}

.content__container {
  display: flex;
  justify-content: space-between;
  margin: 96px 0;
  position: relative;
}

.content__info {
  max-width: 481px;
  width: 100%;
  margin: 0 10px;
}

.content__title {
  color: #002F3E;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  text-transform: capitalize;
  margin-top: 58px;
}

.content__descr {
  color: #002F3E;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  margin-top: 40px;
}

.content__img {
  margin: 0 12px;
}
.content__img img {
  max-width: 584px;
  width: 100%;
}

.particle-mobile-one {
  display: none;
}

.particle-mobile-two {
  display: none;
}

.particle {
  position: absolute;
}

.particle--one {
  left: -80px;
  top: -100px;
}

.particle--two {
  top: 0;
  right: 0;
}

.particle--three {
  top: -180px;
  right: 400px;
}

.particle--four {
  top: 873px;
  left: 0;
}

.particle--five {
  top: -110px;
  right: 0px;
}

.particle--six {
  top: 44%;
  right: 0;
}

.particle--seven {
  top: 46%;
  left: 0;
}

.particle--eight {
  top: 55%;
  left: 0;
}

.particle--nine {
  top: 69%;
  left: 0;
}

.particle--ten {
  top: -185px;
  right: 0px;
}

.particle--eleven {
  top: -210px;
  left: 295px;
}

.particle--twelve {
  bottom: 70px;
  left: 0;
}

.particle--eighteen {
  bottom: 400px;
  right: 0;
}

.particle--nine {
  top: 69%;
  left: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-style: normal;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navigation__link {
  color: #002F3E;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
}

@media (max-width: 980px) {
  .content__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 52px 0;
  }
  .content__info {
    max-width: 481px;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
  }
  .content__descr {
    max-width: none;
    width: auto;
  }
  .content__title {
    display: none;
  }
  .content__title-mobile {
    display: block;
    max-width: 481px;
    width: 100%;
    margin: 0 16px 47px;
    order: -1;
  }
  .content__container:nth-of-type(2n) .content__img {
    order: -1;
  }
}
@media (max-width: 700px) {
  .particle-mobile-one {
    display: block;
    right: 0;
    top: 60px;
    width: 100px;
  }
  .particle-mobile-two {
    display: block;
    bottom: 0;
    right: 0;
  }
  .particle--one {
    display: none;
  }
  .particle--two {
    display: none;
  }
  .particle--three {
    display: block;
    left: 0;
    top: 100px;
    width: 140px;
  }
  .particle--four {
    display: none;
  }
  .particle--five {
    display: none;
  }
  .particle--six {
    display: none;
  }
  .particle--seven {
    display: block;
    top: 54%;
    right: 30px;
    left: auto;
  }
  .particle--eight {
    display: none;
  }
  .particle--nine {
    display: none;
  }
  .particle--ten {
    display: block;
    left: 0;
    top: 60px;
    width: 140px;
  }
  .particle--eleven {
    display: none;
  }
  .particle--twelve {
    display: none;
  }
  .particle--eighteen {
    display: none;
  }
  .particle--nine {
    display: none;
  }
  .content__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 52px 0;
  }
  .content__info {
    max-width: 481px;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
  }
  .content__descr {
    max-width: none;
    width: auto;
  }
  .content__title {
    display: none;
  }
  .content__title-mobile {
    display: block;
    font-size: 42px;
  }
  .content__container:nth-of-type(2n) .content__img {
    order: -1;
  }
}
@media (max-width: 600px) {
  .content__img {
    margin: 0;
  }
  .content__descr {
    max-width: none;
    width: auto;
    font-size: 16px;
    padding: 0 10px;
  }
  .content__title-mobile {
    display: block;
    font-size: 32px;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-style: normal;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navigation__link {
  color: #002F3E;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
}

.particle--thirteen {
  top: 0;
  right: 0;
}

.particle--fourteen {
  top: 394px;
  left: 0;
}

.particle--fifteen {
  bottom: 313px;
  right: 0;
}

.particle--sixteen {
  bottom: -170px;
  left: 55%;
}

.info {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  margin-top: 96px;
}

.info__container {
  max-width: 1227px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.info__text {
  margin: 0 83px;
}

.info__title {
  color: #002F3E;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  text-transform: capitalize;
  margin: 0 0 40px 0px;
}

.info__descr {
  color: #002F3E;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.info__container-person {
  display: flex;
  justify-content: space-between;
  max-width: 1227px;
  width: 100%;
  margin: 61px 83px;
}

.info__person {
  margin: 0 10px;
}

.info__icon img {
  margin-bottom: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.info__person-title {
  color: #002F3E;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  text-transform: capitalize;
  font-size: 28px;
  text-align: center;
}

.info__person-descr {
  color: #002F3E;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: center;
  max-width: 584px;
  width: 100%;
}

@media (max-width: 700px) {
  .particle--thirteen {
    display: none;
  }
  .particle--fourteen {
    display: none;
  }
  .particle--fifteen {
    display: none;
  }
  .particle--sixteen {
    display: none;
  }
  .info__text {
    margin: 0 10px;
  }
  .info__container-person {
    flex-direction: column;
  }
  .info__person-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 16px;
  }
  .info__person {
    margin-bottom: 45px;
  }
  .info__icon img {
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .info__title {
    font-size: 32px;
  }
  .info__descr {
    color: #002F3E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
  }
  .info__person-descr {
    color: #002F3E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
  }
  .info__person-title {
    font-size: 24px;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-style: normal;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navigation__link {
  color: #002F3E;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
}

.contact {
  display: flex;
  justify-content: center;
  margin-top: 126px;
  margin-bottom: 95px;
  position: relative;
}

.contact__container {
  display: flex;
  justify-content: center;
  width: 1369px;
  position: relative;
}

.contact__container-image {
  max-width: 1228px;
  width: 100%;
  height: 548px;
  margin-left: 20px;
  margin-right: 20px;
  background-image: url(../img/backgraund_contact_us.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.contact__feelback {
  padding: 69px 121px 69px 113px;
}

.contact__title {
  font-size: 45px;
  font-weight: 600;
  line-height: 58px;
}

.contact__input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.text-field__input {
  display: block;
  margin-top: 56px;
  max-width: 447px;
  width: 100%;
  height: 48px;
  color: #8CA1A8;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 1px;
  padding-left: 24px;
  background-color: #fff;
  border: 0px solid #bdbdbd;
  border-radius: 24px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__input::placeholder {
  color: #212529;
  opacity: 0.4;
}

.text-field__input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.text-field__input:disabled,
.text-field__input[readonly] {
  background-color: #f5f5f5;
  opacity: 1;
}

#username {
  max-width: 994px;
  width: 100%;
  height: 76px;
  margin-top: 32px;
  padding: 10px 24px 10px 24px;
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.contact__button-link {
  margin-left: auto;
  margin-right: 0em;
}

#contact__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  text-align: center;
  cursor: pointer;
  border-radius: 32px;
  color: #FFF;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.352px;
  width: 308px;
  height: 64px;
  box-sizing: border-box;
  transition: all 500ms ease;
  margin-top: 56px;
  background: var(--linear-botton, linear-gradient(90deg, #006A63 0%, #00D2A4 100%));
  box-shadow: 0px 6px 15px 0px rgba(2, 128, 108, 0.3);
}

.text-field__input::placeholder {
  color: #212529;
  opacity: 0.4;
}

.text-field__input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.text-field__input:disabled,
.text-field__input[readonly] {
  background-color: #f5f5f5;
  opacity: 1;
}

textarea::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

@media (max-width: 1265px) {
  .contact__container {
    width: 100%;
  }
  .contact__container .contact__container-image {
    max-width: none;
    width: 1228px;
    height: 100%;
  }
  .contact__container .contact__container-image .contact__feelback {
    padding: 5% 8% 6%;
  }
  .contact__container .contact__container-image .contact__feelback .contact__title {
    font-size: 3.55vw;
  }
  .contact__container .contact__container-image .contact__feelback .contact__input .text-field__input {
    max-width: none;
    margin-top: 2%;
    height: 3.75vw;
    font-size: 1.25vw;
  }
  .contact__container .contact__container-image .contact__feelback .contact__input #username {
    margin-top: 3%;
    height: 6vw;
  }
  .contact__container .contact__container-image .contact__feelback .contact__input #contact__button {
    font-size: 2vw;
    margin-top: 10%;
    width: 24.5vw;
    height: 5vw;
  }
}
@media (max-width: 700px) {
  .particle--seventeen {
    display: none;
  }
  .contact__container {
    max-width: 600px;
  }
  .contact__container .contact__container-image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-image: url(../img/contact_mobile.svg);
    background-size: contain;
  }
  .contact__container .contact__container-image .contact__feelback {
    padding: 10%;
  }
  .contact__container .contact__container-image .contact__feelback .contact__title {
    font-size: 7vw;
  }
  .contact__container .contact__container-image .contact__feelback .contact__input .text-field__input {
    display: flex;
    font-size: 2.5vw;
    margin-top: 6%;
    height: 6.9vw;
  }
  .contact__container .contact__container-image .contact__feelback .contact__input .contact__button-link {
    margin: auto;
  }
  .contact__container .contact__container-image .contact__feelback .contact__input #username {
    height: 12vw;
    margin-top: 10%;
  }
  .contact__container .contact__container-image .contact__feelback .contact__input #contact__button {
    width: 40vw;
    height: 9.5vw;
    margin-top: 20%;
    font-size: 3vw;
  }
}
@media (max-width: 600px) {
  .contact__container .contact__container-image {
    background-size: cover;
    height: 100%;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-style: normal;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navigation__link {
  color: #002F3E;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #002F3E;
}

.footer__container {
  width: 1200px;
  height: 144px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

.footer__list {
  display: flex;
  flex-direction: row;
}

.footer__link {
  color: #002F3E;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  margin-left: 48px;
  color: #fff;
}

@media (max-width: 810px) {
  .footer .footer__container {
    flex-direction: column;
    height: auto;
    margin-top: 56px;
    margin-bottom: 36px;
  }
  .footer .footer__container .footer__logo {
    margin: 0 auto 56px;
  }
  .footer .footer__container .footer__menu {
    margin: 0;
  }
  .footer .footer__container .footer__menu .footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }
  .footer .footer__container .footer__menu .footer__list .footer__line-list {
    margin-bottom: 16px;
  }
  .footer .footer__container .footer__menu .footer__list .footer__line-list .footer__link {
    padding: 0;
    margin: 0;
  }
}
html {
  font-family: Poppins;
  scroll-behavior: smooth;
}

/*.header__menu-mobile {
    display: none;
}

.header__item-modile {
    display: none;
}
.banner__container-mobile {
    display: none;
}
.banner__content-mobile {
    display: none;
}
.particle-mobile-one {
    display: none;
}
.particle-mobile-two {
    display: none;
}
.content__title-mobile {
    display: none;
}

.header {
    @extend %extend-section;
    background: $content-color;
    box-shadow: 0px 0px 24px 0px rgba(0, 97, 87, 0.20);

    .header__container {
        @extend %extend-container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;

        .header__item {
            padding: 0 12px;

            .header__img {
                width: 54px;
            }
        }
        .header__menu {
            @extend %extend-margin;

            .header__list {
                @extend %extend-content-row;

                .header__line-list {
                    margin-left: 40px;

                    .header__link {
                        color: #002F3E;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 24px; 
                        letter-spacing: 0.34px;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}

.banner {
    @extend %extend-section;
    margin-top: 16px;

    .banner__container {
        width: 1227px;
        height: 482px;
        margin: 0px 20px;
        background-image: url(../img/banner.png);
        background-size: contain;
        background-repeat: no-repeat;

        .banner__content {
            margin-top: 112px;
            margin-left: 83px;

            .banner__title {
                color: $basic-color;
                font-size: 54px;
                font-weight: 700;
                line-height: 64px; 
                letter-spacing: 3px;
                margin: 0 0 24px 0;
            }
            .banner__descr {
                margin: 0 0 72px 0;
                font-size: 24px;
                font-weight: 400;
                line-height: 36px; 
                letter-spacing: 1px;
                text-transform: capitalize;
            }
            .banner__button {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 0;
                text-align: center;
                cursor: pointer;
                border-radius: 32px;
                color: #FFF;
                font-family: Poppins;
                font-size: 24px;
                font-weight: 600;
                letter-spacing: 0.352px;
                width: 308px;
                height: 64px;
                box-shadow: 0px 6px 15px 0px rgba(2, 128, 108, 0.30);
                background: var(--linear-botton, linear-gradient(90deg, #006A63 0%, #00D2A4 100%));
                box-sizing: border-box;
                transition: all 500ms ease;
            }
        }
    }
}

.navigation {
    @extend %extend-section;
    margin-top: 44px;

    .navigation__container {
        @extend %extend-container;

        .navigation__menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .navigation__link {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                margin: 20px 10px;
                transition: transform .2s;
                text-align: center;
                letter-spacing: 1px;
                @extend %extend-descr;

                .navigation__img {
                    margin-bottom: 10px;
                }
            }
        }
    }
}
.navigation__link:hover {
    color: #006A63;
    transform: scale(1.05);
}

.content {
    @extend %extend-section;
    position: relative;
    background: $content-color;

    .content__wrapper {
        @extend %extend-container;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 16px;

        .content__container {
            display: flex;
            justify-content: space-between;
            margin: 96px 0;
            position: relative;

            .content__img {
                @extend %extend-margin;

                img {
                    max-width: 584px;
                    width: 100%;
                }
            }

            .content__info {
                max-width: 481px;
                width: 100%;
                margin: 0 10px;

                .content__title {
                    @extend %extend-title;
                    margin-top: 58px;
                }

                .content__descr {
                    @extend %extend-descr;
                    margin-top: 40px;
                }
            }
        }
    }
}

.particle {
    position: absolute;
}
.particle--one {
    left: -80px;
    top: -100px;
}
.particle--two {
    top: 0;
    right: 0;
}
.particle--three {
    top: -180px;
    right: 400px;
}
.particle--four {
    top: 873px;
    left: 0;
}
.particle--five {
    top: -110px;
    right: 0px;
}
.particle--six {
    top: 44%;
    right: 0;
}
.particle--seven {
    top: 46%;
    left: 0;
}
.particle--eight {
    top: 55%;
    left: 0;
}
.particle--nine {
    top: 69%;
    left: 0;
}
.particle--ten {
    top: -185px;
    right: 0px;
}
.particle--eleven {
    top: -210px;
    left: 295px;
}
.particle--twelve {
    bottom: 70px;
    left: 0;
}.particle--eighteen {
    bottom: 400px;
    right: 0;
}
.particle--nine {
    top: 69%;
    left: 0;
}
.particle--thirteen {
    top: 0;
    right: 0;
}
.particle--fourteen {
    top: 394px;
    left: 0;
}
.particle--fifteen {
    bottom: 313px;
    right: 0;
}
.particle--sixteen {
    bottom: -170px;
    left: 55%;
}
.particle--seventeen {
    top: 200px;
    left: 0;
}
.info {
    @extend %extend-section;
    position: relative;
    margin-top: 96px;

    .info__container {
        @extend %extend-container;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: $margin;

        .info__text {
            max-width: 994px;
            width: 100%;

            .info__title {
                @extend %extend-title;
                margin: 0 0 40px 0px;
            }

            .info__descr {
                @extend %extend-descr;
                margin-bottom: 40px;
            }
        }

        .info__container-person {
            display: flex;
            justify-content: space-between;
            max-width: 1227px;
            width: 100%;
            margin: 61px 83px;

            .info__person {
                margin: $margin;
            }

            .info__icon img {
                margin-bottom: 45px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            .info__person-title {
                @extend %extend-title;
                font-size: 28px;
                text-align: center
            }

            .info__person-descr {
                @extend %extend-descr; 
                text-align: center;
                margin-bottom: 30px;
                max-width: 584px;
                width: 100%;
            }
        }
    }
}

.contact__container {
    @extend %extend-section;
    margin-top: 126px;
    margin-bottom: 95px;

    .contact__container-image {
        @extend %extend-container;
        height: 548px;
        margin-left: 20px;
        margin-right: 20px;
        background-image: url(../img/backgraund_contact_us.png);
        background-size: contain;
        background-repeat: no-repeat;

        .contact__feelback {
            padding: 69px 121px 69px 113px;

            .contact__title {
                @extend %extend-title;
            }

            .contact__input {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;

                .text-field__input {
                    display: block;
                    margin-top: 56px;
                    max-width: 447px;
                    width: 100%;
                    height: 48px;
                    color: #8CA1A8;
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 1px;
                    padding-left: 24px;
                    background-color: #fff;
                    border: 0px solid #bdbdbd;
                    border-radius: 24px;
                    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                }

                #username {
                    max-width: 994px;
                    width: 100%;
                    height: 76px;
                    margin-top: 32px;
                    padding: 10px 24px 10px 24px;
                    resize: none;
                }

                .contact__button-link {
                    margin-left: auto;
                    margin-right: 0em;
                }

                #contact__button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 0;
                    text-align: center;
                    cursor: pointer;
                    border-radius: 32px;
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 24px;
                    font-weight: 600;
                    letter-spacing: 0.352px;
                    width: 308px;
                    height: 64px;
                    box-sizing: border-box;
                    transition: all 500ms ease;
                    margin-top: 56px;
                    background: var(--linear-botton, linear-gradient(90deg, #006A63 0%, #00D2A4 100%));
                    box-shadow: 0px 6px 15px 0px rgba(2, 128, 108, 0.30);
                }
            }
        }
    }
}
.text-field__input::placeholder {
    color: #212529;
    opacity: 0.4;
}
.text-field__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
.text-field__input:disabled,
.text-field__input[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
}
textarea::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.footer {
    @extend %extend-section;
    background: $basic-color;

    .footer__container {
        width: 1200px;
        height: 144px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: $margin;

        .footer__list {
            display: flex;
            flex-direction: row;

            .footer__link {
                @extend %extend-descr;
                margin-left: 48px;
                color: #fff;
            }
        }
    }
} */

/*# sourceMappingURL=css.css.map */
