@import "../../common/index.scss";

.content__title-mobile {
    display: none;
}

.content {
    @include mixin-section;
    position: relative;
    background: $content-color;
}

.content__wrapper {
    @include mixin-container;
    @include flex($column-to-dlex: true);
    margin: 0 16px;
}

.content__container {
    @include flex($sb-to-flex: true);
    margin: 96px 0;
    position: relative;
}

.content__info {
    max-width: 481px;
    width: 100%;
    margin: 0 10px;
}

.content__title {
    @include title-desktop;
    margin-top: 58px;
}

.content__descr {
    @include descr-desktop;
    margin-top: 40px;
}

.content__img {
    @include mixin-margin;

    img {
        max-width: 584px;
        width: 100%;
    }
}

.particle-mobile-one {
    display: none;
}
.particle-mobile-two {
    display: none;
}
.particle {
    position: absolute;
}
.particle--one {
    left: -80px;
    top: -100px;
}
.particle--two {
    top: 0;
    right: 0;
}
.particle--three {
    top: -180px;
    right: 400px;
}
.particle--four {
    top: 873px;
    left: 0;
}
.particle--five {
    top: -110px;
    right: 0px;
}
.particle--six {
    top: 44%;
    right: 0;
}
.particle--seven {
    top: 46%;
    left: 0;
}
.particle--eight {
    top: 55%;
    left: 0;
}
.particle--nine {
    top: 69%;
    left: 0;
}
.particle--ten {
    top: -185px;
    right: 0px;
}
.particle--eleven {
    top: -210px;
    left: 295px;
}
.particle--twelve {
    bottom: 70px;
    left: 0;
}.particle--eighteen {
    bottom: 400px;
    right: 0;
}
.particle--nine {
    top: 69%;
    left: 0;
}
