@import "../../common/media-preackpoints.scss";

@include mobile {
    .particle--thirteen {
        display: none;
    }
    .particle--fourteen {
        display: none;
    }
    .particle--fifteen {
        display: none;
    }
    .particle--sixteen {
        display: none;
    }

.info__text {
    margin: 0 10px;
}

.info__container-person {
    flex-direction: column;
}

.info__person-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 16px;
}

.info__person {
    margin-bottom: 45px;
}

.info__icon img {
    margin-bottom: 20px;
}
}
@include mini-mobile {
    .info__title {
        font-size: 32px;
        }
        
    .info__descr {
        @include descr-mobile;
    }

    .info__person-descr {
        @include descr-mobile;
    }
    
    .info__person-title {
        font-size: 24px;
    }

}