$content-witch: 1227px;
$content-color: #F2FAF8;
$basic-color: #002F3E;
$margin: 0 10px;

$breakpoint_xxl: 1265px;
$breakpoint_xl: 980px;
$breakpoint_md: 810px;
$breakpoint_sm: 700px;
$breakpoint_xs: 600px;